.search-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.autocomplete {
  width: 600px;
}

.paper {
  border: 1px solid #AEB9C9;
  border-radius: 10px;
  margin-top: 20px;
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
  overflow: hidden
}

.chip {
  border-radius: 10px !important;
  margin-right: 8px !important;
}

@media screen and (max-width: 768px) {
  .autocomplete {
    width: 80%;
  }
}